<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Friends!</title>
</head>
<body>
  <div id="container">
    <h1>Friends</h1>
    <table>
      <thead>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Hometown</th>
      </thead>
      <tfoot>
        {% for friend in friends: %}
        <tr>
          <td>{{ friend['first_name']}}</td>
          <td>{{ friend['last_name']}}</td>
          <td>{{ friend['hometown']}}</td>
          <td>
            <form action="/friends/{{friend['id']}}/edit" method="get">
              <button type="hidden" method="get">Edit Friend</button>
            </form>
          </td>
        </tr>
        {% endfor %}
      </tfoot>
    </table>
      <form action="/friends" method="post">
        <h1>Add Friend</h1>
        First Name: <input type="text" name="first_name">
        Last Name: <input type="text" name="last_name">
        Hometown: <input type="text" name="hometown">
        <input type="submit" value="Add Friend">
      </form>
  </div>
</body>
</html>
